Repository AY2021S1-CS2103T-F12-2/tp, pull requests merged in 2020-09, with the labels that each got.

#63 Add use cases, value proposition and target user profile
  docs/DeveloperGuide.md
Labels: Developer Guide, priority.High

#64 Add user stories to the developer guide
  docs/DeveloperGuide.md
  docs/images/chuyiting.png
Labels: Developer Guide, documentation

#62 Update README.md and AboutUs.md
  README.md
  docs/AboutUs.md
  docs/images/Ui.png
Labels: documentation, priority.High

#71 Make changes to formatting
  README.md
  docs/AboutUs.md
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/index.md
Labels: documentation

#72 Update UserGuide
  docs/UserGuide.md
Labels: User Guide, priority.High

#73 Edit markdown files in docs
  docs/AboutUs.md
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/_config.yml
  docs/images/._petrickjerico.png
  docs/images/johndoe.png
  docs/index.md
  docs/team/petrickjerico.md
Labels: Developer Guide, User Guide, documentation

#65 Add Ui picture(temporary).
  docs/images/Ui-flashcards.png
  docs/images/Ui.png
Labels: documentation
