Repository AY2021S1-CS2103T-F12-2/tp, pull requests merged in 2020-11, with the labels that each got.

#253 Add tests for LogicManager
  src/test/java/seedu/studybananas/logic/LogicManagerTest.java
Labels: priority.High, system.Flashcard, system.Quiz, system.Schedule

#251 Finish testing and correction for quiz
  src/main/java/seedu/studybananas/logic/commands/quizcommands/AnswerCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CancelCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CorrectCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/FlipCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/RefreshCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/StartCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/WrongCommand.java
  src/main/java/seedu/studybananas/storage/quizstorage/JsonAdaptedQuiz.java
  src/main/resources/view/QuizCard.fxml
  src/main/resources/view/QuizScoreCard.fxml
  src/test/data/JsonQuizRecordsStorageTest/invalidAndValidQuizRecords.json
  src/test/data/JsonQuizRecordsStorageTest/invalidQuizRecords.json
  src/test/data/JsonQuizRecordsStorageTest/notJsonFormatQuizRecords.json
  src/test/java/seedu/studybananas/logic/commands/commandtestutils/QuizRecordsCommandTestUtil.java
  src/test/java/seedu/studybananas/logic/commands/quizcommands/AnswerCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/quizcommands/CancelCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/quizcommands/CorrectCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/quizcommands/FlipCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/quizcommands/RefreshCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/quizcommands/StartCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/quizcommands/WrongCommandTest.java
  src/test/java/seedu/studybananas/logic/parser/quizparsers/QuizParserTest.java
  src/test/java/seedu/studybananas/storage/flashcardstorage/JsonAdaptedFlashcardSetNameTest.java
  src/test/java/seedu/studybananas/storage/quizstorage/JsonAdaptedQuizTest.java
  src/test/java/seedu/studybananas/storage/quizstorage/JsonQuizRecordsStorageTest.java
Labels: system.Quiz, type.Test

#254 Add PPP
  docs/AboutUs.md
  docs/team/ducbinh.md
  docs/team/ducbinh2611.md
Labels: documentation, priority.Low

#255 Fix multiple bugs based on PE dry run
  docs/UserGuide.md
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardCommand.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardSetCommand.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/DeleteFlashcardCommand.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/DeleteFlashcardSetCommand.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/ListFlashcardCommand.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/ListFlashcardSetCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/StartCommand.java
  src/main/java/seedu/studybananas/logic/parser/flashcardparsers/DeleteFlashcardCommandParser.java
  src/main/java/seedu/studybananas/logic/parser/flashcardparsers/DeleteFlashcardSetCommandParser.java
  src/main/java/seedu/studybananas/logic/parser/flashcardparsers/FlashcardParser.java
  src/main/java/seedu/studybananas/logic/parser/flashcardparsers/ListFlashcardCommandParser.java
  src/main/java/seedu/studybananas/logic/parser/parserutils/ParserUtil.java
  src/main/java/seedu/studybananas/logic/parser/scheduleparsers/ScheduleDeleteCommandParser.java
  src/main/java/seedu/studybananas/logic/parser/scheduleparsers/ScheduleEditCommandParser.java
  src/main/java/seedu/studybananas/model/flashcard/Flashcard.java
  src/main/java/seedu/studybananas/model/flashcard/FlashcardSetName.java
  src/main/java/seedu/studybananas/model/task/Title.java
  src/main/java/seedu/studybananas/ui/HelpWindow.java
  src/main/resources/images/icon_search.png
  src/test/java/seedu/studybananas/logic/commands/commandtestutils/FlashcardBankCommandTestUtil.java
  src/test/java/seedu/studybananas/logic/commands/commandtestutils/ScheduleCommandTestUtil.java
  src/test/java/seedu/studybananas/logic/commands/flashcardcommands/ListFlashcardSetCommandTest.java
  src/test/java/seedu/studybananas/logic/parser/flashcardparsers/DeleteFlashcardCommandParserTest.java
  src/test/java/seedu/studybananas/logic/parser/flashcardparsers/DeleteFlashcardSetCommandParserTest.java
  src/test/java/seedu/studybananas/logic/parser/flashcardparsers/FlashcardParserTest.java
  src/test/java/seedu/studybananas/logic/parser/flashcardparsers/ListFlashcardCommandParserTest.java
  src/test/java/seedu/studybananas/logic/parser/scheduleparsers/ScheduleAddCommandParserTest.java
  src/test/java/seedu/studybananas/logic/parser/scheduleparsers/ScheduleDeleteCommandParserTest.java
  src/test/java/seedu/studybananas/logic/parser/scheduleparsers/ScheduleEditCommandParserTest.java
  src/test/java/seedu/studybananas/model/flashcard/FlashcardSetNameTest.java
  src/test/java/seedu/studybananas/storage/flashcardstorage/JsonAdaptedFlashcardSetNameTest.java
Labels: type.Bug

#252 Update UG
  docs/AboutUs.md
  docs/UserGuide.md
  docs/team/bowei-yu.md
  docs/team/yubowei.md
Labels: User Guide

#256 Fix PED functionality bugs
  src/main/java/seedu/studybananas/commons/util/StringUtil.java
  src/main/java/seedu/studybananas/logic/parser/StudyBananasParser.java
  src/main/java/seedu/studybananas/model/task/DateTime.java
  src/main/java/seedu/studybananas/model/task/Description.java
  src/main/java/seedu/studybananas/model/task/InfoContainsKeywordsPredicate.java
Labels: priority.High, system.Schedule, type.Bug

#259 More tests
  src/main/java/seedu/studybananas/MainApp.java
  src/main/java/seedu/studybananas/model/systemlevelmodel/ReadOnlyUserPrefs.java
  src/main/java/seedu/studybananas/model/systemlevelmodel/UserPrefs.java
  src/main/java/seedu/studybananas/storage/StorageManager.java
  src/main/java/seedu/studybananas/storage/flashcardstorage/JsonSerializableFlashcardBank.java
  src/main/java/seedu/studybananas/storage/schedulestorage/ScheduleStorage.java
  src/test/data/JsonUserPrefsStorageTest/ExtraValuesUserPref.json
  src/test/data/JsonUserPrefsStorageTest/TypicalUserPref.json
  src/test/java/seedu/studybananas/logic/parser/flashcardparsers/AddFlashcardCommandParserTest.java
  src/test/java/seedu/studybananas/logic/parser/flashcardparsers/AddFlashcardSetCommandParserTest.java
  src/test/java/seedu/studybananas/logic/parser/flashcardparsers/DeleteFlashcardSetCommandParserTest.java
  src/test/java/seedu/studybananas/model/FlashcardQuizModelManagerTest.java
  src/test/java/seedu/studybananas/model/ModelManagerTest.java
  src/test/java/seedu/studybananas/model/ScheduleModelManagerTest.java
  src/test/java/seedu/studybananas/model/UserPrefsTest.java
  src/test/java/seedu/studybananas/storage/JsonUserPrefsStorageTest.java
  src/test/java/seedu/studybananas/storage/StorageManagerTest.java
  src/test/java/seedu/studybananas/storage/flashcardstorage/JsonFlashcardBankStorageTest.java
Labels: type.Test

#258 Fix all bug reports assigned to me.
  docs/UserGuide.md
  src/main/java/seedu/studybananas/logic/commands/commandresults/QuizCommandResult.java
  src/main/java/seedu/studybananas/logic/commands/commandresults/QuizCommandResultType.java
  src/main/java/seedu/studybananas/logic/commands/commandresults/QuizErrorCommandResult.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/AnswerCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CancelCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CorrectCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/FlipCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/RefreshCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/StartCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/WrongCommand.java
  src/main/java/seedu/studybananas/logic/parser/flashcardparsers/AddFlashcardSetCommandParser.java
  src/main/java/seedu/studybananas/model/task/Title.java
  src/main/java/seedu/studybananas/ui/CommandBox.java
  src/main/java/seedu/studybananas/ui/FlashcardSetListPanel.java
  src/main/java/seedu/studybananas/ui/FlashcardUi.java
  src/main/java/seedu/studybananas/ui/MainWindow.java
  src/main/java/seedu/studybananas/ui/ScheduleUi.java
  src/main/java/seedu/studybananas/ui/TaskListPanel.java
  src/main/java/seedu/studybananas/ui/commons/ResponsePopUp.java
  src/main/java/seedu/studybananas/ui/quizui/QuizUi.java
  src/main/java/seedu/studybananas/ui/scheduleui/QuizDescription.java
  src/main/java/seedu/studybananas/ui/scheduleui/TaskDetailPanel.java
  src/main/java/seedu/studybananas/ui/scheduleui/TaskDetailSkin.java
  src/main/java/seedu/studybananas/ui/util/GlobalState.java
  src/main/java/seedu/studybananas/ui/util/ScheduleUiUtil.java
  src/main/resources/view/FlashcardSetCard.fxml
  src/main/resources/view/LightTheme.css
  src/main/resources/view/QuizDescription.fxml
  src/main/resources/view/TaskDetailSkin.fxml
  src/main/resources/view/TaskListCard.fxml
  src/test/java/seedu/studybananas/logic/commands/quizcommands/RefreshCommandTest.java
  src/test/java/seedu/studybananas/logic/parser/flashcardparsers/AddFlashcardCommandParserTest.java
  src/test/java/seedu/studybananas/logic/parser/flashcardparsers/AddFlashcardSetCommandParserTest.java
Labels: priority.High, type.Bug

#260 Branch ppp
  docs/team/eddychu.md
Labels: documentation

#261 Add ppp
  docs/team/joeteddy.md
Labels: Developer Guide

#262 Build Help and Exit Command.
  src/main/java/seedu/studybananas/logic/commands/ExampleCommand.java
  src/main/java/seedu/studybananas/logic/commands/ExitCommand.java
  src/main/java/seedu/studybananas/logic/commands/HelpCommand.java
  src/main/java/seedu/studybananas/logic/commands/commandresults/GeneralCommandResult.java
  src/main/java/seedu/studybananas/logic/parser/StudyBananasParser.java
  src/main/java/seedu/studybananas/logic/parser/generalparsers/GeneralParser.java
  src/main/java/seedu/studybananas/logic/parser/parserutils/CommandTypeMatcher.java
  src/main/java/seedu/studybananas/model/util/SampleDataUtil.java
  src/main/java/seedu/studybananas/ui/FlashcardUi.java
  src/main/java/seedu/studybananas/ui/MainWindow.java
  src/main/java/seedu/studybananas/ui/ScheduleUi.java
  src/main/java/seedu/studybananas/ui/quizui/QuizUi.java
  src/main/java/seedu/studybananas/ui/scheduleui/TaskDetailPanel.java
  src/main/java/seedu/studybananas/ui/sidebar/SideBarHelpMenu.java
  src/main/java/seedu/studybananas/ui/util/GlobalState.java
  src/main/java/seedu/studybananas/ui/util/UiStateType.java
  src/main/java/seedu/studybananas/ui/util/UiUtil.java
Labels: priority.High, type.Enhancement

#264 Add day as time for task + testing
  src/main/java/seedu/studybananas/model/task/timeformat/TimeFormatChecker.java
  src/main/java/seedu/studybananas/model/task/timeformat/WordDateTime.java
  src/test/java/seedu/studybananas/model/task/DateTimeTest.java
  src/test/java/seedu/studybananas/model/task/DurationTest.java
  src/test/java/seedu/studybananas/model/task/InfoContainsKeywordsPredicateTest.java
  src/test/java/seedu/studybananas/model/task/TaskTest.java
Labels: priority.High, system.Schedule, type.Enhancement, type.Test

#265 Add quiz flset name
  src/main/java/seedu/studybananas/logic/Logic.java
  src/main/java/seedu/studybananas/logic/LogicManager.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/StartCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommand.java
  src/main/java/seedu/studybananas/logic/parser/quizparsers/QuizParser.java
  src/main/java/seedu/studybananas/model/FlashcardModel.java
  src/main/java/seedu/studybananas/model/FlashcardModelManager.java
  src/main/java/seedu/studybananas/model/FlashcardQuizModelManager.java
  src/main/java/seedu/studybananas/model/ModelManager.java
  src/main/java/seedu/studybananas/model/flashcard/Answer.java
  src/main/java/seedu/studybananas/model/flashcard/FlashcardSetName.java
  src/main/java/seedu/studybananas/model/flashcard/Question.java
  src/main/java/seedu/studybananas/ui/util/ScheduleUiUtil.java
  src/test/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardSetCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/quizcommands/StartCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommandTest.java
  src/test/java/seedu/studybananas/logic/parser/quizparsers/QuizParserTest.java
Labels: priority.High, system.Quiz, type.Test

#267 Add more tests and correct bugs found from manual testing
  src/main/java/seedu/studybananas/logic/commands/quizcommands/RefreshCommand.java
  src/main/java/seedu/studybananas/model/QuizModel.java
  src/main/java/seedu/studybananas/ui/quizui/QuizUi.java
  src/test/java/seedu/studybananas/logic/LogicManagerTest.java
  src/test/java/seedu/studybananas/logic/commands/quizcommands/RefreshCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/quizcommands/StartCommandTest.java
  src/test/java/seedu/studybananas/model/FlashcardQuizModelManagerTest.java
  src/test/java/seedu/studybananas/model/QuizModelManagerTest.java
Labels: priority.High, system.Quiz, type.Bug, type.Test

#266 Refactor ScheduleAddCommand and ScheduleEditCommand code + add more testings
  src/main/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleAddCommand.java
  src/main/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleEditCommand.java
  src/main/java/seedu/studybananas/model/ModelManager.java
  src/main/java/seedu/studybananas/model/ScheduleModel.java
  src/main/java/seedu/studybananas/model/ScheduleModelManager.java
  src/main/java/seedu/studybananas/model/systemlevelmodel/Schedule.java
  src/main/java/seedu/studybananas/model/task/Task.java
  src/main/java/seedu/studybananas/model/task/UniqueTaskList.java
  src/test/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleAddCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleEditCommandTest.java
  src/test/java/seedu/studybananas/model/task/TaskHappensTodayPredicateTest.java
  src/test/java/seedu/studybananas/model/task/TaskTest.java
Labels: priority.Medium, system.Schedule, type.Enhancement, type.Test

#268 Update UG
  docs/UserGuide.md
  docs/images/UG/ExitButton.png
  docs/images/UG/important_icon.png
  docs/images/UG/info_icon.png
  docs/images/UG/tip_icon.png
Labels: User Guide, documentation, priority.High

#269 Fix hyperlink in Table of Content
  docs/UserGuide.md
Labels: User Guide

#270 Fix style for puml diagram.
  docs/DeveloperGuide.md
  docs/diagrams/ModelArchitectureDiagram.puml
  docs/diagrams/SidebarSequenceDiagram.puml
  docs/diagrams/SidebarState1.puml
  docs/diagrams/SidebarState2.puml
  docs/diagrams/SidebarState3.puml
  docs/diagrams/SidebarState4.puml
  docs/images/ModelArchitectureDiagram.png
  docs/images/ModelStructure-Step1.png
  docs/images/ModelStructure-Step2.png
  docs/images/ModelStructure-Step3.png
  docs/images/SidebarStep1.png
  docs/images/SidebarStep2.png
  docs/images/SidebarStep3.png
  docs/images/SidebarStep4.png
Labels: documentation, priority.High, type.Bug

#273 Update UG
  docs/UserGuide.md
Labels: User Guide, documentation

#274 UG Update
  docs/UserGuide.md
  docs/assets/css/style.scss
Labels: User Guide

#275 Fix some minor UG bugs
  docs/UserGuide.md
Labels: User Guide, documentation

#276 Try to fix Markdown in HTML tag.
  docs/UserGuide.md
  docs/assets/css/style.scss
Labels: User Guide, priority.High, type.Bug

#277 Update flashcard User Guide
  docs/UserGuide.md
  docs/images/add-fl-1.png
  docs/images/add-flset-1.png
  docs/images/delete-fl-1.png
  docs/images/delete-flset-1.png
  docs/images/list-fl-1.png
Labels: User Guide

#278 Update UG
  docs/UserGuide.md
Labels: User Guide

#279 User Guide TOC migration to HTML.
  docs/UserGuide.md
  docs/assets/css/style.scss
Labels: User Guide, priority.High

#281 Add FAQ
  docs/UserGuide.md
Labels: User Guide

#280 Branch user guide
  docs/UserGuide.md
  docs/assets/css/style.scss
  docs/tableOfContent.html
Labels: User Guide, type.Bug

#282 Quick fix of alignment problem
  docs/UserGuide.md
  docs/assets/css/style.scss
Labels: User Guide, priority.High, type.Bug

#283 FIx display problem.
  docs/UserGuide.md
  docs/assets/css/style.scss
Labels: User Guide, priority.High, type.Bug

#284 UG TOC Quick Fix
  docs/UserGuide.md
  docs/assets/css/style.scss
Labels: User Guide, priority.High, type.Bug

#285 Update user guide for quiz
  docs/UserGuide.md
Labels: User Guide, priority.High

#286 Image formatting standardization + Update Quiz
  docs/AboutUs.md
  docs/UserGuide.md
  docs/images/AnswerShown.png
  docs/images/FirstQuestion.png
  docs/images/Flashcards.png
  docs/images/HelpButton.png
  docs/images/HelpWindow.png
  docs/images/Quiz.png
  docs/images/QuizWindow.png
  docs/images/Schedule.png
  docs/images/ViewScore.png
  docs/images/addTask1.png
  docs/images/addTask2.png
  docs/images/addTaskWithQuiz1.png
  docs/images/addTaskWithQuiz2.png
  docs/images/addTaskWithQuiz3.png
  docs/images/deleteTask1.jpg
  docs/images/deleteTask2.png
  docs/images/editTask1.jpg
  docs/images/editTask2.jpg
  docs/images/listTask1.png
  docs/images/listTask2.png
  docs/images/searchTask1.png
  docs/images/searchTask2.png
  src/main/resources/view/QuizScoreCard.fxml
Labels: User Guide

#287 Fix some UG bugs
  docs/UserGuide.md
Labels: User Guide, documentation

#288 Reorganization of Developer guide structure
  docs/DeveloperGuide.md
  docs/SettingUp.md
  docs/images/dg-diagram-legend.png
Labels: Developer Guide

#289 Update Storage Class for DG
  docs/DeveloperGuide.md
  docs/diagrams/StorageClassDiagram.puml
  docs/images/StorageClassDiagram.png
  src/main/java/seedu/studybananas/storage/schedulestorage/ScheduleStorage.java
Labels: Developer Guide, documentation, priority.High

#290 Update UG with more sections.
  docs/UserGuide.md
Labels: User Guide, priority.High, type.Enhancement

#291 Change style.puml
  docs/diagrams/BetterModelClassDiagram.puml
  docs/diagrams/LogicClassDiagram.puml
  docs/diagrams/ModelClassDiagram.puml
  docs/diagrams/StorageClassDiagram.puml
  docs/diagrams/UiClassDiagram.puml
  docs/diagrams/style.puml
Labels: Developer Guide

#292 Update the logic component section
  docs/DeveloperGuide.md
  docs/diagrams/DeleteSequenceDiagram.puml
  docs/diagrams/LogicClassDiagram.puml
  docs/images/DeleteSequenceDiagram.png
  docs/images/LogicClassDiagram.png
Labels: Developer Guide

#294 Update UG for standardization
  docs/UserGuide.md
  docs/images/HelpButton.png
Labels: User Guide, documentation

#293 Fix unclear feedback message when adding flashcard
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardCommand.java
  src/test/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardCommandTest.java
Labels: type.Bug

#295 Update DG implementation
  docs/DeveloperGuide.md
  docs/diagrams/EditCommandClassDiagram0.puml
  docs/diagrams/EditCommandClassDiagram1.puml
  docs/diagrams/EditCommandClassDiagram2.puml
  docs/diagrams/EditCommandClassDiagram3.puml
  docs/diagrams/EditTaskSequenceDiagram.puml
  docs/diagrams/TaskClassDiagram.puml
  docs/diagrams/style.puml
  docs/images/EditCommandClassDiagram0.png
  docs/images/EditCommandClassDiagram1.png
  docs/images/EditCommandClassDiagram2.png
  docs/images/EditCommandClassDiagram3.png
  docs/images/EditTaskSequenceDiagram.png
  docs/images/EditTaskSequenceDiagram2.png
  docs/images/StorageClassDiagram.png
  docs/images/TaskClassDiagram.png
Labels: Developer Guide, documentation

#296 Branch developer guide
  docs/DeveloperGuide.md
  docs/diagrams/FlashcardUiClassDiagram.puml
  docs/diagrams/QuizUiClassDiagram.puml
  docs/diagrams/ScheduleUiClassDiagram.puml
  docs/diagrams/UiClassDiagram.puml
  docs/diagrams/UiGlobalStateProblem.puml
  docs/diagrams/UiGlobalStateSolution.puml
  docs/diagrams/UiGlobalStateSolution2.puml
  docs/diagrams/UiListenerSubscribePattern.puml
  docs/diagrams/UiListenerUpdatePattern.puml
  docs/diagrams/UiListenerUpdateSequence.puml
  docs/diagrams/style.puml
  docs/images/QuizUi.png
  docs/images/ScheduleUi.png
  docs/images/UiGlobalStateProblem.png
  docs/images/UiGlobalStateSolution-1.png
  docs/images/UiGlobalStateSolution-2.png
  docs/images/UiListenerSubscribe.png
  docs/images/UiListenerUpdate.png
  docs/images/UiListenerUpdateSequence.png
  docs/tutorials/TracingCode.md
  src/main/java/seedu/studybananas/ui/FlashcardUi.java
  src/main/java/seedu/studybananas/ui/MainWindow.java
  src/main/java/seedu/studybananas/ui/ScheduleUi.java
  src/main/java/seedu/studybananas/ui/commons/CommandBox.java
  src/main/java/seedu/studybananas/ui/flashcardui/FlashcardSetCard.java
  src/main/java/seedu/studybananas/ui/flashcardui/FlashcardSetListPanel.java
  src/main/java/seedu/studybananas/ui/quizui/QuizUi.java
  src/main/java/seedu/studybananas/ui/scheduleui/TaskDetailPanel.java
  src/main/java/seedu/studybananas/ui/scheduleui/UpcomingSchedule.java
  src/main/java/seedu/studybananas/ui/util/GlobalState.java
  src/main/java/seedu/studybananas/ui/util/SingletonClickedFlashcardSetState.java
  src/main/resources/images/FlashcardUi.png
Labels: Developer Guide, priority.High, type.Enhancement

#297 Mild adjustments to UG
  docs/UserGuide.md
  docs/images/HelpButton.png
Labels: User Guide, documentation

#298 Change back headers
  docs/UserGuide.md
Labels: User Guide, documentation

#299 Branch ug dg
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/images/FlashcardUi.png
  docs/images/UiListenerUpdateSequence.png
Labels: Developer Guide, priority.High, type.Bug

#300 Update DG
  docs/DeveloperGuide.md
  docs/diagrams/ArchitectureDiagram.puml
  docs/diagrams/ArchitectureSequenceDiagram.puml
  docs/diagrams/ScheduleModelDiagram.puml
  docs/images/ArchitectureDiagram.png
  docs/images/ArchitectureSequenceDiagram.png
  docs/images/ScheduleModelDiagram.png
Labels: Developer Guide, documentation, priority.High

#301 Fix headings and hyperlink in TOC for UG
  docs/UserGuide.md
Labels: User Guide, documentation, priority.Medium

#302 Branch ug dg
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/FlashcardUiClassDiagram.puml
  docs/diagrams/QuizUiClassDiagram.puml
  docs/diagrams/ScheduleUiClassDiagram.puml
  docs/diagrams/UiGlobalStateProblem.puml
  docs/diagrams/UiGlobalStateSolution.puml
  docs/diagrams/UiGlobalStateSolution2.puml
  docs/diagrams/UiListenerUpdateSequence.puml
  docs/images/FlashcardUi.png
  docs/images/QuizUi.png
  docs/images/ScheduleUi.png
  docs/images/UiGlobalStateProblem.png
  docs/images/UiGlobalStateSolution-1.png
  docs/images/UiGlobalStateSolution-2.png
Labels: Developer Guide, User Guide, priority.High, type.Bug

#303 Update DG
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/CorrectCommandSequenceDiagram.puml
  docs/diagrams/NextQuestion.puml
  docs/diagrams/OutOfIndex.puml
  docs/diagrams/QuizModelDiagram.puml
  docs/diagrams/QuizStorageActivityDiagram.puml
  docs/diagrams/StartQuiz.puml
  docs/diagrams/StartQuizClassDiagram.puml
  docs/diagrams/StoreAnswerClassDiagram.puml
  docs/images/CorrectCommandSequenceDiagram.png
  docs/images/NextQuestion.png
  docs/images/OutOfIndex.png
  docs/images/QuizModelDiagram.png
  docs/images/QuizStorageActivityDiagram.png
  docs/images/StartQuiz.png
  docs/images/StartQuizClassDiagram.png
  docs/images/StoreAnswerClassDiagram.png
  docs/images/UpdateScoreSequenceDiagram.png
Labels: Developer Guide, documentation

#305 Update task object diagrams
  docs/DeveloperGuide.md
  docs/diagrams/CorrectCommandSequenceDiagram.puml
  docs/diagrams/EditCommandClassDiagram0.puml
  docs/diagrams/EditCommandClassDiagram1.puml
  docs/diagrams/EditCommandClassDiagram2.puml
  docs/diagrams/EditCommandClassDiagram3.puml
  docs/diagrams/EditTaskSequenceDiagram.puml
  docs/images/CorrectCommandSequenceDiagram.png
  docs/images/EditCommandClassDiagram0.png
  docs/images/EditCommandClassDiagram1.png
  docs/images/EditCommandClassDiagram2.png
  docs/images/EditCommandClassDiagram3.png
  docs/images/EditTaskSequenceDiagram.png
Labels: Developer Guide, documentation

#304 Split logic class diagram
  docs/DeveloperGuide.md
  docs/diagrams/LogicClassDiagram.puml
  docs/diagrams/StudyBananasParser.puml
  docs/images/LogicClassDiagram.png
  docs/images/StudyBananasParser.png
Labels: Developer Guide

#307 Flashcard model diagram
  docs/DeveloperGuide.md
  docs/diagrams/FlashcardModelDiagram.puml
  docs/images/FlashcardModelDiagram.png
Labels: Developer Guide

#308 Update DG (Storage analysis and different typos)
  docs/DeveloperGuide.md
  docs/diagrams/EditCommandClassDiagram0.puml
Labels: Developer Guide, documentation, priority.High

#306 Branch ug dg test
  docs/DeveloperGuide.md
  src/main/java/seedu/studybananas/ui/util/ScheduleUiUtil.java
  src/main/java/seedu/studybananas/ui/util/SingletonClickedTaskState.java
  src/main/java/seedu/studybananas/ui/util/SingletonCommandResultState.java
  src/test/java/seedu/studybananas/ui/listeners/CommandResultStateListenerTest.java
  src/test/java/seedu/studybananas/ui/listeners/UiStateListenerTest.java
  src/test/java/seedu/studybananas/ui/util/ScheduleUiUtilTest.java
  src/test/java/seedu/studybananas/ui/util/SingletonClickedFlashcardSetStateTest.java
  src/test/java/seedu/studybananas/ui/util/SingletonClickedTaskStateTest.java
  src/test/java/seedu/studybananas/ui/util/SingletonCommandResultStateTest.java
  src/test/java/seedu/studybananas/ui/util/SingletonUiStateTest.java
  src/test/java/seedu/studybananas/ui/util/UiUtilTest.java
Labels: Developer Guide, priority.High, type.Test

#309 Refactor certain part of codebase
  src/main/java/seedu/studybananas/logic/commands/commandresults/QuizCommandResult.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/QuizCommandUtil.java
  src/main/java/seedu/studybananas/model/task/InfoContainsKeywordsPredicate.java
  src/main/java/seedu/studybananas/ui/quizui/QuizCard.java
Labels: priority.Medium, type.Enhancement

#312 Rephrase confusing faq
  docs/UserGuide.md
Labels: User Guide

#314 Add DateTimeFormatStructure Feature.
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/NewDateFormat-Step1.puml
  docs/diagrams/NewDateFormat-Step2.puml
  docs/images/DateTimeFormatStructure.png
  docs/images/NewDateFormat-Step1.png
  docs/images/NewDateFormat-Step2.png
Labels: Developer Guide, priority.High, type.Enhancement

#318 Standardize the architecture diagrams
  docs/DeveloperGuide.md
  docs/diagrams/ModelArchitectureDiagram.puml
  docs/diagrams/ModelArchitectureDiagram1.puml
  docs/diagrams/ModelArchitectureDiagram2.puml
  docs/diagrams/ModelArchitectureDiagram3.puml
  docs/images/ModelArchitectureDiagram.png
  docs/images/ModelArchitectureDiagram1.png
  docs/images/ModelArchitectureDiagram2.png
  docs/images/ModelArchitectureDiagram3.png
Labels: Developer Guide

#315 Add PPP and Instructions for manual testing in DG
  docs/DeveloperGuide.md
  docs/diagrams/EditTaskSequenceDiagram.puml
  docs/team/bowei-yu.md
Labels: Developer Guide, documentation

#320 Fix empty input string
  src/main/java/seedu/studybananas/logic/parser/quizparsers/QuizParser.java
Labels: priority.High, system.Quiz, type.Bug

#321 Add PPP
  docs/team/ducbinh2611.md
Labels: documentation, priority.High

#322 Add minor UG edits
  docs/UserGuide.md
  docs/images/QuizPage.png
  docs/team/bowei-yu.md
Labels: User Guide, documentation

#324 Update DG
  docs/DeveloperGuide.md
  docs/diagrams/EditTaskSequenceDiagram.puml
Labels: Developer Guide, documentation, priority.High

#327 Update UG
  docs/UserGuide.md
Labels: User Guide, documentation, priority.High

#326 Branch address issues
  docs/UserGuide.md
  docs/team/bowei-yu.md
Labels: User Guide, documentation

#328 Branch ug dg test
  docs/AboutUs.md
  docs/team/chuyiting.md
  docs/team/eddychu.md
  src/main/java/seedu/studybananas/ui/util/SingletonCommandResultState.java
  src/test/java/seedu/studybananas/ui/util/SingletonCommandResultStateTest.java
Labels: documentation

#346 Update UG
  docs/UserGuide.md
Labels: User Guide, documentation, priority.High

#348 Update UG
  docs/UserGuide.md
Labels: User Guide, documentation, priority.High

#350 Update UG
  docs/UserGuide.md
Labels: User Guide

#354 Update UG
  docs/UserGuide.md
  docs/images/Flashcards.png
  docs/images/Quiz.png
Labels: User Guide

#355 Fix minor UG stuff
  docs/UserGuide.md
Labels: User Guide, documentation, priority.High

#357 Update navigation link
  docs/UserGuide.md
Labels: User Guide

#358 Update UG
  docs/UserGuide.md
Labels: User Guide, priority.High

#360 Add page break for content page
  docs/UserGuide.md
Labels: User Guide

#367 Branch address issues
  docs/UserGuide.md
Labels: User Guide

#368 Fix hyperlink for list task
  docs/UserGuide.md
Labels: User Guide, documentation

#370 Fix numbering index
  docs/UserGuide.md
Labels: User Guide, documentation
