Repository AY2021S1-CS2103T-F12-2/tp, pull requests merged in 2020-10, with the labels that each got.

#77 Build Parser structure.
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/commands/ExampleCommand.java
  src/main/java/seedu/address/logic/parser/StudyBananasParser.java
  src/main/java/seedu/address/logic/parser/addressbookparsers/AddCommandParser.java
  src/main/java/seedu/address/logic/parser/addressbookparsers/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/addressbookparsers/DeleteCommandParser.java
  src/main/java/seedu/address/logic/parser/addressbookparsers/EditCommandParser.java
  src/main/java/seedu/address/logic/parser/addressbookparsers/FindCommandParser.java
  src/main/java/seedu/address/logic/parser/flashcardparsers/FlashcardParser.java
  src/main/java/seedu/address/logic/parser/parserutils/CommandTypeMatcher.java
  src/main/java/seedu/address/logic/parser/parserutils/ParserUtil.java
  src/main/java/seedu/address/logic/parser/quizparsers/QuizParser.java
  src/main/java/seedu/address/logic/parser/taskparsers/TaskParser.java
  src/test/java/seedu/address/logic/parser/StudyBananasParserTest.java
  src/test/java/seedu/address/logic/parser/addressbookparsers/AddCommandParserTest.java
  src/test/java/seedu/address/logic/parser/addressbookparsers/DeleteCommandParserTest.java
  src/test/java/seedu/address/logic/parser/addressbookparsers/EditCommandParserTest.java
  src/test/java/seedu/address/logic/parser/addressbookparsers/FindCommandParserTest.java
  src/test/java/seedu/address/logic/parser/parserutils/ParserUtilTest.java
Labels: priority.High, severity.High, type.Enhancement

#78 Add Task and TaskList
  src/main/java/seedu/address/model/person/Person.java
  src/main/java/seedu/address/model/task/Date.java
  src/main/java/seedu/address/model/task/DateTime.java
  src/main/java/seedu/address/model/task/Description.java
  src/main/java/seedu/address/model/task/Task.java
  src/main/java/seedu/address/model/task/TaskList.java
Labels: enhancement, priority.High

#81 Add Quiz without Storage
  src/main/java/seedu/address/logic/commands/quizcommands/CancelCommand.java
  src/main/java/seedu/address/logic/commands/quizcommands/CorrectCommand.java
  src/main/java/seedu/address/logic/commands/quizcommands/FlipCommand.java
  src/main/java/seedu/address/logic/commands/quizcommands/QuizCommand.java
  src/main/java/seedu/address/logic/commands/quizcommands/StartCommand.java
  src/main/java/seedu/address/logic/commands/quizcommands/Status.java
  src/main/java/seedu/address/logic/commands/quizcommands/ViewScoreCommand.java
  src/main/java/seedu/address/logic/commands/quizcommands/WrongCommand.java
  src/main/java/seedu/address/logic/parser/parserutils/CommandTypeMatcher.java
  src/main/java/seedu/address/logic/parser/quizparsers/QuizParser.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/quiz/Quiz.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
Labels: enhancement, priority.High

#83 Implement FlashcardBank in ModelManager and AddFlashcardCommandParser
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/logic/commands/flashcardcommands/AddFlashcardCommand.java
  src/main/java/seedu/address/logic/parser/flashcardparsers/AddFlashcardCommandParser.java
  src/main/java/seedu/address/logic/parser/flashcardparsers/FlashcardParser.java
  src/main/java/seedu/address/logic/parser/parserutils/ParserUtil.java
  src/main/java/seedu/address/logic/parser/scheduleparsers/ScheduleAddCommandParser.java
  src/main/java/seedu/address/model/FlashcardBank.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ReadOnlyFlashcardBank.java
  src/main/java/seedu/address/model/flashcard/FlashcardSet.java
  src/main/java/seedu/address/model/flashcard/UniqueFlashcardSetList.java
  src/main/java/seedu/address/model/flashcard/exceptions/DuplicateFlashcardSetException.java
  src/main/java/seedu/address/model/flashcard/exceptions/FlashcardSetNotFoundException.java
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/logic/commands/AddCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/ClearCommandTest.java
  src/test/java/seedu/address/logic/commands/DeleteCommandTest.java
  src/test/java/seedu/address/logic/commands/EditCommandTest.java
  src/test/java/seedu/address/logic/commands/FindCommandTest.java
  src/test/java/seedu/address/logic/commands/ListCommandTest.java
  src/test/java/seedu/address/model/ModelManagerTest.java
Labels: enhancement, priority.High, severity.High

#82 Add test for Task Model
  src/main/java/seedu/address/model/task/DateTime.java
  src/main/java/seedu/address/model/task/Description.java
  src/main/java/seedu/address/model/task/Task.java
  src/main/java/seedu/address/model/task/UniqueTaskList.java
  src/main/java/seedu/address/model/task/exceptions/DuplicateTaskException.java
  src/main/java/seedu/address/model/task/exceptions/TaskNotFoundException.java
  src/main/java/seedu/address/model/task/exceptions/TimeFormatException.java
  src/main/java/seedu/address/model/task/timeformat/IsoDate.java
  src/main/java/seedu/address/model/task/timeformat/IsoDateTime.java
  src/main/java/seedu/address/model/task/timeformat/TimeFormat.java
  src/main/java/seedu/address/model/task/timeformat/TimeFormatChecker.java
  src/test/java/seedu/address/model/task/DateTimeTest.java
  src/test/java/seedu/address/model/task/DescriptionTest.java
  src/test/java/seedu/address/model/task/TaskTest.java
  src/test/java/seedu/address/model/task/TitleContainsKeywordsPredicateTest.java
  src/test/java/seedu/address/model/task/TitleTest.java
  src/test/java/seedu/address/model/task/UniqueTaskListTest.java
  src/test/java/seedu/address/testutil/TaskBuilder.java
  src/test/java/seedu/address/testutil/TypicalTasks.java
Labels: priority.High, type.Task

#85 Flashcard storage
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/logic/commands/quizcommands/Status.java
  src/main/java/seedu/address/model/quiz/Quiz.java
  src/main/java/seedu/address/model/task/Task.java
  src/main/java/seedu/address/storage/Storage.java
  src/main/java/seedu/address/storage/StorageManager.java
  src/main/java/seedu/address/storage/flashcardstorage/FlashcardBankStorage.java
  src/main/java/seedu/address/storage/flashcardstorage/JsonAdaptedFlashcard.java
  src/main/java/seedu/address/storage/flashcardstorage/JsonAdaptedFlashcardSet.java
  src/main/java/seedu/address/storage/flashcardstorage/JsonFlashcardBankStorage.java
  src/main/java/seedu/address/storage/flashcardstorage/JsonSerializableFlashcardBank.java
  src/main/java/seedu/address/storage/schedulestorage/JsonAdaptedDateTime.java
  src/main/java/seedu/address/storage/schedulestorage/JsonAdaptedTask.java
  src/main/java/seedu/address/storage/schedulestorage/JsonScheduleStorage.java
  src/main/java/seedu/address/storage/schedulestorage/JsonSerializableSchedule.java
  src/main/java/seedu/address/storage/schedulestorage/ScheduleStorage.java
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/logic/commands/DeleteCommandTest.java
  src/test/java/seedu/address/logic/commands/EditCommandTest.java
  src/test/java/seedu/address/logic/commands/FindCommandTest.java
  src/test/java/seedu/address/storage/StorageManagerTest.java
Labels: enhancement, priority.High

#87 Implements Delete and List FlashcardSet command and parser
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/commands/flashcardcommands/DeleteFlashcardSetCommand.java
  src/main/java/seedu/address/logic/commands/flashcardcommands/ListFlashcardSetCommand.java
  src/main/java/seedu/address/logic/commands/schedulecommands/ScheduleDeleteCommand.java
  src/main/java/seedu/address/logic/parser/flashcardparsers/DeleteFlashcardSetCommandParser.java
  src/main/java/seedu/address/logic/parser/flashcardparsers/FlashcardParser.java
  src/main/java/seedu/address/model/Model.java
Labels: priority.High

#84 Add storage test for Schedule
  build.gradle
  src/main/java/seedu/address/commons/util/JsonUtil.java
  src/main/java/seedu/address/model/UserPrefs.java
  src/main/java/seedu/address/model/task/DateTime.java
  src/main/java/seedu/address/model/task/Description.java
  src/main/java/seedu/address/model/task/Task.java
  src/main/java/seedu/address/model/task/timeformat/TimeFormatChecker.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/storage/schedulestorage/JsonAdaptedTask.java
  src/main/java/seedu/address/storage/schedulestorage/JsonScheduleStorage.java
  src/main/java/seedu/address/storage/schedulestorage/JsonSerializableSchedule.java
  src/test/data/JsonScheduleStorageTest/invalidAndValidTaskSchedule.json
  src/test/data/JsonScheduleStorageTest/invalidTaskSchedule.json
  src/test/data/JsonScheduleStorageTest/notJsonFormatSchedule.json
  src/test/data/JsonSerializableScheduleTest/duplicateTaskSchedule.json
  src/test/data/JsonSerializableScheduleTest/invalidTaskSchedule.json
  src/test/data/JsonSerializableScheduleTest/typicalTasksSchedule.json
  src/test/java/seedu/address/commons/util/ConfigUtilTest.java
  src/test/java/seedu/address/model/task/TaskTest.java
  src/test/java/seedu/address/model/task/UniqueTaskListTest.java
  src/test/java/seedu/address/storage/JsonAdaptedDateTimeTest.java
  src/test/java/seedu/address/storage/JsonAdaptedTaskTest.java
  src/test/java/seedu/address/storage/JsonScheduleStorageTest.java
  src/test/java/seedu/address/storage/JsonSerializableScheduleTest.java
  src/test/java/seedu/address/storage/StorageManagerTest.java
  src/test/java/seedu/address/testutil/SampleTasks.java
Labels: enhancement, priority.High

#90 Move menubar to the bottom of the sidebar.
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/sidebar/SideBarHelpMenu.java
  src/main/java/seedu/address/ui/util/SingletonUiState.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/SideBarHelpMenu.fxml
  src/main/resources/view/SideBarTab.fxml
Labels: enhancement

#93 Add temporary message for testing before UI is ready
  src/main/java/seedu/address/logic/commands/flashcardcommands/ListFlashcardCommand.java
  src/main/java/seedu/address/logic/commands/flashcardcommands/ListFlashcardSetCommand.java
Labels: priority.Medium

#95 Update UserGuide with the new command format
  docs/UserGuide.md
Labels: documentation

#94 Add flashcard related tests
  src/main/java/seedu/address/model/flashcard/FlashcardSet.java
  src/main/java/seedu/address/model/flashcard/exceptions/DuplicateFlashcardException.java
  src/main/java/seedu/address/model/flashcard/exceptions/FlashcardNotFoundException.java
  src/main/java/seedu/address/model/flashcard/exceptions/FlashcardSetNotFoundException.java
  src/test/java/seedu/address/logic/commands/commandtestutils/FlashcardBankCommandTestUtil.java
  src/test/java/seedu/address/logic/parser/flashcardparsers/AddFlashcardCommandParserTest.java
  src/test/java/seedu/address/logic/parser/flashcardparsers/AddFlashcardSetCommandParserTest.java
  src/test/java/seedu/address/logic/parser/flashcardparsers/DeleteFlashcardCommandParserTest.java
  src/test/java/seedu/address/logic/parser/flashcardparsers/DeleteFlashcardSetCommandParserTest.java
  src/test/java/seedu/address/logic/parser/flashcardparsers/FlashcardParserTest.java
  src/test/java/seedu/address/logic/parser/flashcardparsers/ListFlashcardCommandParser.java
  src/test/java/seedu/address/model/flashcard/AnswerTest.java
  src/test/java/seedu/address/model/flashcard/FlashcardSetNameTest.java
  src/test/java/seedu/address/model/flashcard/FlashcardSetTest.java
  src/test/java/seedu/address/model/flashcard/FlashcardTest.java
  src/test/java/seedu/address/model/flashcard/QuestionTest.java
  src/test/java/seedu/address/model/flashcard/UniqueFlashcardSetListTest.java
  src/test/java/seedu/address/testutil/FlashcardBuilder.java
  src/test/java/seedu/address/testutil/FlashcardSetBuilder.java
  src/test/java/seedu/address/testutil/TypicalFlashcardSets.java
  src/test/java/seedu/address/testutil/TypicalFlashcards.java
Labels: enhancement, priority.High

#96 Update GUI and solve bugs for schedule.
  src/main/java/seedu/address/logic/parser/scheduleparsers/ScheduleAddCommandParser.java
  src/main/java/seedu/address/logic/parser/scheduleparsers/ScheduleParser.java
  src/main/java/seedu/address/model/task/DateTime.java
  src/main/java/seedu/address/ui/CommandBox.java
  src/main/java/seedu/address/ui/ScheduleUi.java
  src/main/java/seedu/address/ui/TaskCard.java
  src/main/java/seedu/address/ui/sidebar/SideBarTab.java
  src/main/resources/images/icon_search.png
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/ResultDisplay.fxml
  src/main/resources/view/ScheduleUi.fxml
  src/main/resources/view/SideBarTab.fxml
  src/main/resources/view/TaskListCard.fxml
  src/main/resources/view/TaskListPanel.fxml
Labels: enhancement, priority.High, type.Bug

#97 Update UG for Schedule/Task
  docs/UserGuide.md
Labels: User Guide

#98 Setup flashcards storage
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/model/systemlevelmodel/ReadOnlyUserPrefs.java
  src/main/java/seedu/address/model/systemlevelmodel/UserPrefs.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/storage/StorageManager.java
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/storage/StorageManagerTest.java
Labels: priority.High

#118 Add flashcard command tests
  src/main/java/seedu/address/logic/commands/flashcardcommands/AddFlashcardCommand.java
  src/main/java/seedu/address/logic/commands/flashcardcommands/AddFlashcardSetCommand.java
  src/main/java/seedu/address/logic/commands/flashcardcommands/ListFlashcardSetCommand.java
  src/main/java/seedu/address/model/FlashcardModelManager.java
  src/test/java/seedu/address/logic/commands/commandtestutils/FlashcardBankCommandTestUtil.java
  src/test/java/seedu/address/logic/commands/flashcardcommands/AddFlashcardCommandTest.java
  src/test/java/seedu/address/logic/commands/flashcardcommands/AddFlashcardSetCommandTest.java
  src/test/java/seedu/address/logic/commands/flashcardcommands/DeleteFlashcardCommandTest.java
  src/test/java/seedu/address/logic/commands/flashcardcommands/DeleteFlashcardSetCommandTest.java
  src/test/java/seedu/address/logic/commands/flashcardcommands/ListFlashcardCommandTest.java
  src/test/java/seedu/address/logic/commands/flashcardcommands/ListFlashcardSetCommandTest.java
  src/test/java/seedu/address/model/flashcard/FlashcardSetTest.java
  src/test/java/seedu/address/storage/flashcardstorage/JsonAdaptedFlashcardTest.java
  src/test/java/seedu/address/storage/schedulestorage/JsonAdaptedDateTimeTest.java
  src/test/java/seedu/address/storage/schedulestorage/JsonAdaptedTaskTest.java
  src/test/java/seedu/address/storage/schedulestorage/JsonScheduleStorageTest.java
  src/test/java/seedu/address/storage/schedulestorage/JsonSerializableScheduleTest.java
  src/test/java/seedu/address/testutil/TypicalFlashcardSets.java
Labels: priority.High, system.Flashcard, type.Enhancement

#121 Add flashcard storage tests
  build.gradle
  src/main/java/seedu/address/storage/flashcardstorage/JsonFlashcardBankStorage.java
  src/main/java/seedu/address/storage/flashcardstorage/JsonSerializableFlashcardBank.java
  src/test/data/JsonFlashcardBankStorageTest/invalidAndValidFlashcard.json
  src/test/data/JsonFlashcardBankStorageTest/invalidAndValidFlashcardSet.json
  src/test/data/JsonFlashcardBankStorageTest/invalidFlashcard.json
  src/test/data/JsonFlashcardBankStorageTest/invalidFlashcardSet.json
  src/test/data/JsonFlashcardBankStorageTest/notJsonFormatFlashcardBank.json
  src/test/data/JsonSerializableFlashcardBankTest/duplicateFlashcardSets.json
  src/test/data/JsonSerializableFlashcardBankTest/typicalFlashcardSets.json
  src/test/java/seedu/address/storage/flashcardstorage/JsonAdadptedFlashcardTest.java
  src/test/java/seedu/address/storage/flashcardstorage/JsonAdaptedFlashcardSetTest.java
  src/test/java/seedu/address/storage/flashcardstorage/JsonFlashcardBankStorageTest.java
  src/test/java/seedu/address/storage/flashcardstorage/JsonSerializableFlashcardBankTest.java
  src/test/java/seedu/address/testutil/TypicalFlashcards.java
Labels: priority.High, system.Flashcard, type.Test

#122 Parser debug
  src/main/java/seedu/address/logic/parser/parserutils/CommandTypeMatcher.java
Labels: priority.Medium, type.Bug

#123 Make changes to quiz parser
  docs/UserGuide.md
  src/main/java/seedu/address/logic/parser/parserutils/CommandTypeMatcher.java
  src/main/java/seedu/address/logic/parser/quizparsers/QuizParser.java
Labels: priority.Medium

#125 Search task with description and date keywords
  docs/UserGuide.md
  src/main/java/seedu/address/logic/commands/schedulecommands/ScheduleSearchCommand.java
  src/main/java/seedu/address/logic/parser/scheduleparsers/ScheduleSearchCommandParser.java
  src/main/java/seedu/address/model/task/InfoContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/task/TitleContainsKeywordsPredicate.java
  src/test/java/seedu/address/logic/commands/commandtestutils/ScheduleCommandTestUtil.java
  src/test/java/seedu/address/logic/commands/schedulecommands/ScheduleSearchCommandTest.java
  src/test/java/seedu/address/logic/parser/scheduleparsers/ScheduleSearchCommandParserTest.java
  src/test/java/seedu/address/model/task/InfoContainsKeywordsPredicateTest.java
  src/test/java/seedu/address/model/task/TitleContainsKeywordsPredicateTest.java
Labels: priority.Medium, type.Enhancement, type.Task

#126 Update Developer Guide
  docs/DeveloperGuide.md
  src/main/java/seedu/address/model/task/Title.java
Labels: Developer Guide, priority.Medium, type.UseCase

#127 Update Schedule GUI
  build.gradle
  src/main/java/seedu/address/logic/Logic.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/commands/schedulecommands/ScheduleAddCommand.java
  src/main/java/seedu/address/logic/commands/schedulecommands/ScheduleDeleteCommand.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/parserutils/ParserUtil.java
  src/main/java/seedu/address/logic/parser/scheduleparsers/ScheduleAddCommandParser.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ScheduleModel.java
  src/main/java/seedu/address/model/ScheduleModelManager.java
  src/main/java/seedu/address/model/task/DateTime.java
  src/main/java/seedu/address/model/task/Duration.java
  src/main/java/seedu/address/model/task/Task.java
  src/main/java/seedu/address/model/task/TaskHappensTodayPredicate.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/storage/schedulestorage/JsonAdaptedTask.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/ScheduleUi.java
  src/main/java/seedu/address/ui/scheduleui/CurrentTimePointer.java
  src/main/java/seedu/address/ui/scheduleui/TaskCell.java
  src/main/java/seedu/address/ui/scheduleui/TaskDetailPanel.java
  src/main/java/seedu/address/ui/scheduleui/TimeScale.java
  src/main/java/seedu/address/ui/scheduleui/TimeScaleCell.java
  src/main/java/seedu/address/ui/scheduleui/UpcomingSchedule.java
  src/main/java/seedu/address/ui/sidebar/SideBar.java
  src/main/java/seedu/address/ui/util/ScheduleUiUtil.java
  src/main/resources/view/CurrentTimePointer.fxml
  src/main/resources/view/FlashcardUi.fxml
  src/main/resources/view/LightTheme.css
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/ScheduleUi.fxml
  src/main/resources/view/SideBar.fxml
  src/main/resources/view/TaskCell.fxml
  src/main/resources/view/TaskDetailPanel.fxml
  src/main/resources/view/TimeScale.fxml
  src/main/resources/view/TimeScaleCell.fxml
  src/main/resources/view/UpcomingSchedule.fxml
  src/test/data/JsonSerializableScheduleTest/typicalTasksSchedule.json
  src/test/java/seedu/address/logic/commands/schedulecommands/ScheduleAddCommandTest.java
  src/test/java/seedu/address/storage/schedulestorage/JsonAdaptedTaskTest.java
  src/test/java/seedu/address/testutil/SampleTasks.java
  src/test/java/seedu/address/testutil/TaskBuilder.java
Labels: priority.High, system.Schedule, type.Enhancement

#128 Flashcard Developer Guide
  docs/DeveloperGuide.md
  docs/diagrams/FlashcardClassDiagram.png
Labels: Developer Guide

#129 Update Developer Guide Implementation
  docs/DeveloperGuide.md
  docs/images/EditCommand0.png
  docs/images/EditCommand1.png
  docs/images/EditCommand2.png
  docs/images/EditTaskSequenceDiagram.png
Labels: Developer Guide, documentation, priority.Medium

#132 Branch developer guide
  docs/DeveloperGuide.md
  docs/diagrams/SidebarSequenceDiagram.puml
  docs/diagrams/SidebarState1.puml
  docs/diagrams/SidebarState2.puml
  docs/diagrams/SidebarState3.puml
  docs/diagrams/SidebarState4.puml
  docs/images/ModelArchitectureDiagram.png
  docs/images/ModelStructure-Step1.png
  docs/images/ModelStructure-Step2.png
  docs/images/ModelStructure-Step3.png
  docs/images/SidebarSequenceDiagram.png
  docs/images/SidebarStep1.png
  docs/images/SidebarStep2.png
  docs/images/SidebarStep3.png
  docs/images/SidebarStep4.png
Labels: Developer Guide

#133 Fix 12 oclock bugs
  src/main/java/seedu/address/ui/util/ScheduleUiUtil.java
Labels: type.Bug

#134 Quick fix the tab bug.
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/scheduleui/TimeScale.java
Labels: priority.High, type.Bug

#135 Branch application no ended bug quick fix
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/ui/util/SingletonApplicationState.java
Labels: priority.High, type.Bug

#136 Fix UserGuide
  docs/UserGuide.md
Labels: User Guide

#142 Add Edit task functionality
  docs/UserGuide.md
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/commands/schedulecommands/ScheduleDeleteCommand.java
  src/main/java/seedu/address/logic/commands/schedulecommands/ScheduleEditCommand.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/parserutils/ParserUtil.java
  src/main/java/seedu/address/logic/parser/scheduleparsers/ScheduleEditCommandParser.java
  src/main/java/seedu/address/logic/parser/scheduleparsers/ScheduleParser.java
  src/main/java/seedu/address/model/task/Duration.java
  src/main/java/seedu/address/model/task/UniqueTaskList.java
  src/main/java/seedu/address/model/task/exceptions/DuplicateTaskException.java
  src/test/java/seedu/address/logic/commands/commandtestutils/ScheduleCommandTestUtil.java
  src/test/java/seedu/address/logic/commands/schedulecommands/ScheduleAddCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/schedulecommands/ScheduleDeleteCommandTest.java
  src/test/java/seedu/address/logic/commands/schedulecommands/ScheduleEditCommandTest.java
  src/test/java/seedu/address/logic/commands/schedulecommands/ScheduleListCommandTest.java
  src/test/java/seedu/address/logic/parser/scheduleparsers/ScheduleAddCommandParserTest.java
  src/test/java/seedu/address/logic/parser/scheduleparsers/ScheduleEditCommandParserTest.java
  src/test/java/seedu/address/model/task/UniqueTaskListTest.java
  src/test/java/seedu/address/testutil/TaskBuilder.java
Labels: priority.High, system.Schedule, type.Enhancement

#143 Fix quiz bugs
  src/main/java/seedu/studybananas/commons/core/Messages.java
  src/main/java/seedu/studybananas/logic/LogicManager.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/AnswerCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CorrectCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/FlipCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/QuizCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/RefreshCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/StartCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/WrongCommand.java
  src/main/java/seedu/studybananas/logic/parser/StudyBananasParser.java
  src/main/java/seedu/studybananas/logic/parser/quizparsers/QuizParser.java
  src/main/java/seedu/studybananas/model/FlashcardQuizModel.java
  src/main/java/seedu/studybananas/model/FlashcardQuizModelManager.java
  src/main/java/seedu/studybananas/model/Model.java
  src/main/java/seedu/studybananas/model/ModelManager.java
  src/main/java/seedu/studybananas/model/QuizModelManager.java
  src/main/java/seedu/studybananas/model/quiz/Quiz.java
  src/main/java/seedu/studybananas/model/systemlevelmodel/QuizRecords.java
  src/main/java/seedu/studybananas/ui/HelpWindow.java
  src/main/java/seedu/studybananas/ui/MainWindow.java
  src/main/java/seedu/studybananas/ui/quizui/QuizCard.java
  src/main/java/seedu/studybananas/ui/quizui/QuizUi.java
  src/main/java/seedu/studybananas/ui/sidebar/SideBar.java
  src/main/java/seedu/studybananas/ui/sidebar/SideBarTab.java
  src/main/java/seedu/studybananas/ui/util/UiStateType.java
  src/main/resources/images/icon_quiz.png
  src/main/resources/view/QuizUi.fxml
Labels: priority.High, type.Bug

#150 Change command parser from case-sensitive to be case-insensitive
  docs/UserGuide.md
  src/main/java/seedu/studybananas/logic/commands/quizcommands/AnswerCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CancelCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/StartCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommand.java
  src/main/java/seedu/studybananas/logic/parser/flashcardparsers/FlashcardParser.java
  src/main/java/seedu/studybananas/logic/parser/quizparsers/QuizParser.java
  src/main/java/seedu/studybananas/logic/parser/scheduleparsers/ScheduleParser.java
Labels: priority.Medium, system.Flashcard, system.Quiz, system.Schedule

#152 Add patches for Flashcard UI
  src/main/java/seedu/studybananas/commons/core/GuiSettings.java
  src/main/java/seedu/studybananas/logic/Logic.java
  src/main/java/seedu/studybananas/logic/LogicManager.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardCommand.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/DeleteFlashcardCommand.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/ListFlashcardCommand.java
  src/main/java/seedu/studybananas/model/FlashcardModel.java
  src/main/java/seedu/studybananas/model/FlashcardModelManager.java
  src/main/java/seedu/studybananas/model/FlashcardQuizModelManager.java
  src/main/java/seedu/studybananas/model/ModelManager.java
  src/main/java/seedu/studybananas/model/quiz/UniqueQuizRecordsMap.java
  src/main/java/seedu/studybananas/ui/FlashcardsDisplay.java
  src/main/java/seedu/studybananas/ui/MainWindow.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/FlashcardUi.fxml
  src/main/resources/view/FlashcardsDisplay.fxml
  src/main/resources/view/LightTheme.css
  src/test/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardSetCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/flashcardcommands/ListFlashcardCommandTest.java
Labels: priority.High, system.Flashcard

#148 Fix for apparent TimeScale bug
  src/main/java/seedu/studybananas/ui/scheduleui/TimeScale.java
Labels: priority.High, type.Bug

#153 Update schedule GUI
  build.gradle
  src/main/java/seedu/studybananas/model/ScheduleModelManager.java
  src/main/java/seedu/studybananas/model/task/DateTime.java
  src/main/java/seedu/studybananas/ui/MainWindow.java
  src/main/java/seedu/studybananas/ui/ScheduleUi.java
  src/main/java/seedu/studybananas/ui/TaskCard.java
  src/main/java/seedu/studybananas/ui/commons/PositiveResponse.java
  src/main/java/seedu/studybananas/ui/commons/Response.java
  src/main/java/seedu/studybananas/ui/commons/ResponsePopUp.java
  src/main/java/seedu/studybananas/ui/commons/WarningResponse.java
  src/main/java/seedu/studybananas/ui/quizui/QuizUi.java
  src/main/java/seedu/studybananas/ui/scheduleui/CurrentTimePointer.java
  src/main/java/seedu/studybananas/ui/scheduleui/TaskCell.java
  src/main/java/seedu/studybananas/ui/scheduleui/TaskDetailPanel.java
  src/main/java/seedu/studybananas/ui/scheduleui/TaskDetailSkin.java
  src/main/java/seedu/studybananas/ui/scheduleui/TimeScale.java
  src/main/java/seedu/studybananas/ui/scheduleui/TimeScaleCell.java
  src/main/java/seedu/studybananas/ui/scheduleui/UpcomingSchedule.java
  src/main/java/seedu/studybananas/ui/sidebar/SideBar.java
  src/main/java/seedu/studybananas/ui/sidebar/SideBarTab.java
  src/main/java/seedu/studybananas/ui/util/Observable.java
  src/main/java/seedu/studybananas/ui/util/Observer.java
  src/main/java/seedu/studybananas/ui/util/ScheduleUiUtil.java
  src/main/java/seedu/studybananas/ui/util/SingletonApplicationState.java
  src/main/java/seedu/studybananas/ui/util/SingletonClickedTaskState.java
  src/main/resources/images/correct-notice-icon.png
  src/main/resources/images/warning-response-icon.png
  src/main/resources/view/CurrentTimePointer.fxml
  src/main/resources/view/PositiveResponse.fxml
  src/main/resources/view/TaskCell.fxml
  src/main/resources/view/TaskDetailPanel.fxml
  src/main/resources/view/TaskDetailSkin.fxml
  src/main/resources/view/TaskListCard.fxml
  src/main/resources/view/WarningResponse.fxml
Labels: priority.High, system.Schedule, type.Enhancement

#154 Change result display box for Quiz
  src/main/java/seedu/studybananas/logic/commands/CommandResult.java
  src/main/java/seedu/studybananas/logic/commands/QuizCommandResult.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/AnswerCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CancelCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CorrectCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/FlipCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/QuizCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/StartCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/WrongCommand.java
  src/main/java/seedu/studybananas/model/FlashcardQuizModelManager.java
  src/main/java/seedu/studybananas/model/ModelManager.java
  src/main/java/seedu/studybananas/model/QuizModel.java
  src/main/java/seedu/studybananas/model/QuizModelManager.java
  src/main/java/seedu/studybananas/model/quiz/Quiz.java
  src/main/java/seedu/studybananas/ui/ResultDisplay.java
  src/main/java/seedu/studybananas/ui/quizui/QuizCard.java
  src/main/java/seedu/studybananas/ui/quizui/QuizUi.java
  src/main/resources/view/QuizCard.fxml
  src/main/resources/view/QuizUi.fxml
Labels: priority.High, system.Quiz, type.Enhancement

#156 Fix TimeScale regex
  src/main/java/seedu/studybananas/ui/scheduleui/TimeScale.java
Labels: priority.High, type.Bug

#155 Add statistics in quiz
  src/main/java/seedu/studybananas/logic/Logic.java
  src/main/java/seedu/studybananas/logic/LogicManager.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CorrectCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/RefreshCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/WrongCommand.java
  src/main/java/seedu/studybananas/model/FlashcardQuizModelManager.java
  src/main/java/seedu/studybananas/model/ModelManager.java
  src/main/java/seedu/studybananas/model/QuizModel.java
  src/main/java/seedu/studybananas/model/QuizModelManager.java
  src/main/java/seedu/studybananas/model/quiz/Quiz.java
  src/main/java/seedu/studybananas/ui/quizui/QuizCard.java
  src/main/java/seedu/studybananas/ui/quizui/QuizScoreCard.java
  src/main/java/seedu/studybananas/ui/quizui/QuizUi.java
  src/main/java/seedu/studybananas/ui/quizui/Statistics.java
  src/main/resources/view/LightTheme.css
  src/main/resources/view/QuizScoreCard.fxml
  src/main/resources/view/QuizUi.fxml
Labels: priority.High, system.Quiz

#158 Update UG to match current quiz implementation
  docs/UserGuide.md
Labels: User Guide, documentation

#157 Add fix for out-of-index in view score
  src/main/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommand.java
Labels: system.Quiz, type.Bug

#160 Build auto switch functionality.
  src/main/java/seedu/studybananas/logic/Logic.java
  src/main/java/seedu/studybananas/logic/LogicManager.java
  src/main/java/seedu/studybananas/logic/commands/Command.java
  src/main/java/seedu/studybananas/logic/commands/ExampleCommand.java
  src/main/java/seedu/studybananas/logic/commands/HelpCommand.java
  src/main/java/seedu/studybananas/logic/commands/QuizCommandResult.java
  src/main/java/seedu/studybananas/logic/commands/commandresults/CommandResult.java
  src/main/java/seedu/studybananas/logic/commands/commandresults/FlashcardCommandResult.java
  src/main/java/seedu/studybananas/logic/commands/commandresults/QuizCommandResult.java
  src/main/java/seedu/studybananas/logic/commands/commandresults/ScheduleCommandResult.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardCommand.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardSetCommand.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/DeleteFlashcardCommand.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/DeleteFlashcardSetCommand.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/ListFlashcardCommand.java
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/ListFlashcardSetCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/AnswerCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CancelCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CorrectCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/FlipCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/RefreshCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/StartCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/WrongCommand.java
  src/main/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleAddCommand.java
  src/main/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleDeleteCommand.java
  src/main/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleEditCommand.java
  src/main/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleListCommand.java
  src/main/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleSearchCommand.java
  src/main/java/seedu/studybananas/model/FlashcardModel.java
  src/main/java/seedu/studybananas/model/FlashcardModelManager.java
  src/main/java/seedu/studybananas/model/FlashcardQuizModelManager.java
  src/main/java/seedu/studybananas/model/Model.java
  src/main/java/seedu/studybananas/model/ModelManager.java
  src/main/java/seedu/studybananas/model/task/Date.java
  src/main/java/seedu/studybananas/ui/CommandBox.java
  src/main/java/seedu/studybananas/ui/FlashcardSetCard.java
  src/main/java/seedu/studybananas/ui/FlashcardSetListPanel.java
  src/main/java/seedu/studybananas/ui/FlashcardUi.java
  src/main/java/seedu/studybananas/ui/FlashcardsDisplay.java
  src/main/java/seedu/studybananas/ui/MainWindow.java
  src/main/java/seedu/studybananas/ui/listeners/CommandResultStateListener.java
  src/main/java/seedu/studybananas/ui/listeners/Listener.java
  src/main/java/seedu/studybananas/ui/listeners/UiStateListener.java
  src/main/java/seedu/studybananas/ui/quizui/QuizUi.java
  src/main/java/seedu/studybananas/ui/scheduleui/TaskDetailPanel.java
  src/main/java/seedu/studybananas/ui/util/SingletonClickedFlashcardSetState.java
  src/main/java/seedu/studybananas/ui/util/SingletonCommandResultState.java
  src/main/java/seedu/studybananas/ui/util/SingletonUiState.java
  src/main/resources/view/FlashcardSetCard.fxml
  src/test/java/seedu/studybananas/logic/LogicManagerTest.java
  src/test/java/seedu/studybananas/logic/commands/commandresults/FlashcardCommandResultTest.java
  src/test/java/seedu/studybananas/logic/commands/commandresults/QuizCommandResultTest.java
  src/test/java/seedu/studybananas/logic/commands/commandresults/ScheduleCommandResultTest.java
  src/test/java/seedu/studybananas/logic/commands/commandtestutils/FlashcardBankCommandTestUtil.java
  src/test/java/seedu/studybananas/logic/commands/commandtestutils/ScheduleCommandTestUtil.java
  src/test/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/flashcardcommands/AddFlashcardSetCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleAddCommandTest.java
  src/test/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleEditCommandTest.java
Labels: priority.High, system.Flashcard, system.Quiz, system.Schedule, type.Enhancement

#161 Fix multiple bugs
  src/main/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleAddCommand.java
  src/main/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleEditCommand.java
  src/main/java/seedu/studybananas/model/ScheduleModelManager.java
  src/main/java/seedu/studybananas/model/task/DateTime.java
  src/main/java/seedu/studybananas/model/task/Task.java
  src/main/java/seedu/studybananas/model/task/timeformat/IsoDate.java
  src/main/java/seedu/studybananas/model/task/timeformat/IsoDateTime.java
  src/main/java/seedu/studybananas/model/task/timeformat/TimeFormatChecker.java
  src/main/java/seedu/studybananas/ui/TaskCard.java
  src/main/java/seedu/studybananas/ui/scheduleui/TimeScale.java
  src/test/java/seedu/studybananas/model/task/TaskTest.java
Labels: priority.High, system.Schedule, type.Bug

#163 Fix for Quiz-Bug-2 & add some tests
  src/main/java/seedu/studybananas/commons/core/LogsCenter.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommand.java
  src/main/java/seedu/studybananas/model/quiz/Quiz.java
  src/main/java/seedu/studybananas/ui/quizui/QuizUi.java
  src/main/resources/view/QuizScoreCard.fxml
  src/test/java/seedu/studybananas/model/quiz/QuizTest.java
  src/test/java/seedu/studybananas/testutil/QuizBuilder.java
  src/test/java/seedu/studybananas/testutil/TypicalQuizzes.java
Labels: priority.High, system.Quiz, type.Bug, type.Test

#162 Fix some minor schedule bugs.
  src/main/java/seedu/studybananas/model/task/DateTime.java
  src/main/java/seedu/studybananas/model/task/Task.java
  src/main/java/seedu/studybananas/model/util/SampleDataUtil.java
  src/main/java/seedu/studybananas/ui/scheduleui/TaskCell.java
  src/main/java/seedu/studybananas/ui/scheduleui/TaskDetailSkin.java
  src/main/java/seedu/studybananas/ui/util/ScheduleUiUtil.java
Labels: priority.High, system.Schedule, type.Bug

#166 Improve QuizCard UI
  src/main/java/seedu/studybananas/logic/commands/quizcommands/AnswerCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/FlipCommand.java
  src/main/resources/view/LightTheme.css
  src/main/resources/view/QuizCard.fxml
Labels: priority.Medium, system.Quiz, type.Enhancement

#165 Add check for overlapped task
  src/main/java/seedu/studybananas/commons/core/Messages.java
  src/main/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleAddCommand.java
  src/main/java/seedu/studybananas/logic/commands/schedulecommands/ScheduleEditCommand.java
  src/main/java/seedu/studybananas/model/task/Task.java
  src/main/java/seedu/studybananas/model/task/UniqueTaskList.java
  src/main/java/seedu/studybananas/model/task/exceptions/OverlapTaskException.java
  src/main/java/seedu/studybananas/model/task/exceptions/TaskNotFoundException.java
  src/test/java/seedu/studybananas/model/task/TaskTest.java
Labels: priority.High, system.Schedule, type.Enhancement

#167 Fix some bugs
  src/main/java/seedu/studybananas/commons/core/GuiSettings.java
  src/main/resources/view/QuizScoreCard.fxml
  src/test/java/seedu/studybananas/model/quiz/UniqueQuizRecordsMapTest.java
Labels: type.Bug

#168 Branch flashcardset ui update
  src/main/java/seedu/studybananas/ui/FlashcardSetCard.java
  src/main/java/seedu/studybananas/ui/scheduleui/UpcomingSchedule.java
  src/main/resources/images/blue-intersection.png
  src/main/resources/images/pink-intersection.png
  src/main/resources/images/yellow-intersection.png
  src/main/resources/view/FlashcardSetCard.fxml
Labels: priority.High, system.Flashcard, system.Schedule, type.Enhancement

#169 Fix Question Label corner becomes rectangular when scroll down
  src/main/resources/view/QuizCard.fxml
Labels: priority.Medium, system.Quiz, type.Bug

#170 Support more date format for Task
  src/main/java/seedu/studybananas/model/task/timeformat/IsoDate.java
  src/main/java/seedu/studybananas/model/task/timeformat/IsoDateTime.java
  src/test/java/seedu/studybananas/model/task/DateTimeTest.java
Labels: priority.Medium, system.Schedule, type.Enhancement

#173 Schedule UI bugs fixed and add quiz integration.
  src/main/java/seedu/studybananas/commons/core/index/Index.java
  src/main/java/seedu/studybananas/logic/Logic.java
  src/main/java/seedu/studybananas/logic/LogicManager.java
  src/main/java/seedu/studybananas/logic/commands/commandresults/QuizCommandResult.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/AnswerCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CancelCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CorrectCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/FlipCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/QuizCommandUitl.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/RefreshCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/StartCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/WrongCommand.java
  src/main/java/seedu/studybananas/model/flashcard/FlashcardSet.java
  src/main/java/seedu/studybananas/model/quiz/Quiz.java
  src/main/java/seedu/studybananas/model/util/SampleDataUtil.java
  src/main/java/seedu/studybananas/ui/TaskCard.java
  src/main/java/seedu/studybananas/ui/TaskListPanel.java
  src/main/java/seedu/studybananas/ui/commons/PositiveResponse.java
  src/main/java/seedu/studybananas/ui/commons/ResponsePopUp.java
  src/main/java/seedu/studybananas/ui/commons/WarningResponse.java
  src/main/java/seedu/studybananas/ui/scheduleui/QuizDescription.java
  src/main/java/seedu/studybananas/ui/scheduleui/TaskDetailPanel.java
  src/main/java/seedu/studybananas/ui/scheduleui/TaskDetailSkin.java
  src/main/java/seedu/studybananas/ui/util/ScheduleUiUtil.java
  src/main/resources/view/QuizDescription.fxml
  src/main/resources/view/TaskDetailSkin.fxml
  src/main/resources/view/TaskListCard.fxml
Labels: priority.High, system.Quiz, system.Schedule, type.Bug, type.Enhancement

#171 Add testing for quiz
  src/main/java/seedu/studybananas/logic/commands/quizcommands/AnswerCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CancelCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/CorrectCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/FlipCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/QuizCommandUtil.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/RefreshCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/StartCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/ViewScoreCommand.java
  src/main/java/seedu/studybananas/logic/commands/quizcommands/WrongCommand.java
  src/main/java/seedu/studybananas/logic/parser/quizparsers/QuizParser.java
  src/main/java/seedu/studybananas/model/quiz/Quiz.java
  src/main/java/seedu/studybananas/model/quiz/UniqueQuizRecordsMap.java
  src/main/java/seedu/studybananas/model/quiz/exceptions/DuplicateQuizException.java
  src/main/java/seedu/studybananas/ui/quizui/QuizUi.java
  src/main/java/seedu/studybananas/ui/quizui/Statistics.java
  src/test/java/seedu/studybananas/model/quiz/UniqueQuizRecordsMapTest.java
Labels: system.Quiz, type.Bug, type.Test

#174 Fix all text overrun problem.
  src/main/resources/view/FlashcardSetCard.fxml
  src/main/resources/view/TaskListCard.fxml
Labels: priority.High, type.Bug

#175 Add sample data for PE / screenshots in UG
  docs/UserGuide.md
  docs/images/AnswerShown.png
  docs/images/FirstQuestion.png
  docs/images/QuizWindow.png
  docs/images/TaskQuizLabel.png
  docs/images/view score.png
  src/main/java/seedu/studybananas/model/util/SampleDataUtil.java
  src/main/resources/view/QuizCard.fxml
  src/main/resources/view/QuizScoreCard.fxml
Labels: User Guide, documentation

#176 Update UG for Task functionalities
  docs/UserGuide.md
  docs/images/addTask1.png
  docs/images/addTask2.png
  docs/images/addTaskWithQuiz1.png
  docs/images/addTaskWithQuiz2.png
  docs/images/addTaskWithQuiz3.png
  docs/images/deleteTask1.jpg
  docs/images/deleteTask2.png
  docs/images/editTask1.jpg
  docs/images/editTask2.jpg
  docs/images/listTask1.png
  docs/images/listTask2.png
  docs/images/searchTask1.png
  docs/images/searchTask2.png
  src/main/resources/view/MainWindow.fxml
Labels: User Guide, documentation, priority.High

#177 Fix view score image
  docs/UserGuide.md
  docs/images/AnswerShown.png
  docs/images/FirstQuestion.png
  docs/images/TaskQuizLabel.png
  docs/images/Ui.png
  docs/images/ViewScore.png
  docs/images/answer.png
  docs/images/helpMessage.png
  docs/images/question.png
  docs/images/saved answer.png
  src/main/java/seedu/studybananas/logic/commands/flashcardcommands/ListFlashcardSetCommand.java
  src/test/java/seedu/studybananas/logic/commands/flashcardcommands/ListFlashcardSetCommandTest.java
Labels: User Guide, type.Bug

#178 Add Help Window.
  docs/UserGuide.md
  docs/images/Ui.png
  src/main/java/seedu/studybananas/ui/HelpWindow.java
  src/main/java/seedu/studybananas/ui/commons/CommandHelpLabel.java
  src/main/java/seedu/studybananas/ui/sidebar/SideBarTab.java
  src/main/resources/view/CommandHelpLabel.fxml
  src/main/resources/view/HelpWindow.fxml
  src/main/resources/view/LightTheme.css
  src/main/resources/view/SideBarTab.fxml
Labels: priority.High, type.Enhancement

#179 Fix hyperlinks error and update help section in UG
  docs/UserGuide.md
  docs/images/helpMessage.png
Labels: User Guide, documentation

#181 Update user guide
  docs/Ui 2.png
  docs/Ui.png
  docs/UserGuide.md
  docs/images/HelpButton.png
  docs/images/HelpWindow.png
  docs/images/TaskDetailPanels.png
  docs/images/TaskQuizLabel.png
Labels: User Guide, documentation
